In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

### Read the datasets

In [ ]:
import pandas
ha_df = pandas.read_csv("/content/drive/My Drive/datasets/ha.csv")
hb_df = pandas.read_csv("/content/drive/My Drive/datasets/hb.csv")
hc_df = pandas.read_csv("/content/drive/My Drive/datasets/hc.csv")
hd_df = pandas.read_csv("/content/drive/My Drive/datasets/hd.csv")

In [ ]:
ha_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1923 entries, 0 to 1922
Columns: 145 entries, AGE to FETUS1MECONIUMASPIRATIONSYNDROME
dtypes: float64(13), int64(8), object(124)
memory usage: 2.1+ MB

In [ ]:
hb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Columns: 145 entries, AGE to FETUS1MECONIUMASPIRATIONSYNDROME
dtypes: float64(38), int64(9), object(98)
memory usage: 1011.7+ KB

In [ ]:
hc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2458 entries, 0 to 2457
Columns: 145 entries, AGE to FETUS1MECONIUMASPIRATIONSYNDROME
dtypes: float64(22), int64(9), object(114)
memory usage: 2.7+ MB

In [ ]:
hd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Columns: 145 entries, AGE to FETUS1MECONIUMASPIRATIONSYNDROME
dtypes: float64(42), int64(13), object(90)
memory usage: 1000.4+ KB

### Concatenating the datasets

In [ ]:
c_df = pandas.concat([ha_df, hb_df, hc_df, hd_df], ignore_index=True)
c_df

,AGE,COUPLESITUATION,HEIGHT,WEIGHT,BMI,COUNTRYOFORIGYN,MATERNALEDUCATION,STARTANTENATALCARRE,SUBSTANCEABUSE,SMOKING,...,HEMATOMALDRAINAGE,INTRAPARTUMpHvalue,sexfetus1,weightfetus1,apgarfetus1,apgarfetus1fivemin,pHvaluefetus1umbilicalarthery,FETUS1ADMISSIONICU,FETUS1RECOVERY,FETUS1MECONIUMASPIRATIONSYNDROME
0,30,withcouple,1.58,70.0,28.04,CHILE,secondary,1ºtrimester,f,f,...,NaN,NaN,Masculino,2640,7,9,7.34,f,1:Aspiraciónnasofaríngea,f
1,38,withcouple,1.61,79.0,30.48,ESPAÑA,secondary,1ºtrimester,f,f,...,NaN,NaN,Femenino,3040,8,9,7.26,f,0:noprecisa,f
2,25,withcouple,1.56,72.0,29.59,COLOMBIA,secondary,1ºtrimester,f,f,...,NaN,NaN,Femenino,3820,10,10,7.21,f,0:noprecisa,f
3,31,withcouple,1.62,54.0,20.58,ESPAÑA,secondary,1ºtrimester,f,f,...,NaN,NaN,Femenino,3390,9,10,7.21,f,0:noprecisa,f
4,28,withcouple,1.47,51.0,23.60,ESPAÑA,secondary,1ºtrimester,f,f,...,NaN,NaN,Masculino,3020,8,9,7.17,f,0:noprecisa,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6152,35,withcouple,1.56,49.0,20.00,ESPAÑA,secondary,1ºtrimester,f,f,...,1960,10,10,7.27,f,NaN,f,NaN,NaN,NaN
6153,29,withcouple,1.64,59.0,21.51,ESPAÑA,secondary,1ºtrimester,f,f,...,3310,9,10,DESCONOCIDO,f,NaN,f,NaN,NaN,NaN
6154,39,withcouple,1.59,64.0,20.00,ESPAÑA,secondary,1ºtrimester,f,f,...,3830,8,9,DESCONOCIDO,f,NaN,f,NaN,NaN,NaN
6155,41,withcouple,1.48,50.0,23.28,ESPAÑA,primary,1ºtrimester,f,f,...,2810,10,10,DESCONOCIDO,f,NaN,f,NaN,NaN,NaN
6156,32,withcouple,1.65,75.2,24.00,ARGELIA,Sinestudios,1ºtrimester,f,f,...,3160,10,10,DESCONOCIDO,f,NaN,f,NaN,NaN,NaN

### Information of the concatenated dataset

In [ ]:
c_df.info(145)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6157 entries, 0 to 6156
Data columns (total 145 columns):
 #    Column                                  Dtype
---   ------                                  -----
 0    AGE                                     int64
 1    COUPLESITUATION                         object
 2    HEIGHT                                  float64
 3    WEIGHT                                  float64
 4    BMI                                     float64
 5    COUNTRYOFORIGYN                         object
 6    MATERNALEDUCATION                       object
 7    STARTANTENATALCARRE                     object
 8    SUBSTANCEABUSE                          object
 9    SMOKING                                 object
 10   CIGARRETTESPERDAY                       float64
 11   ALCOHOL                                 object
 12   DAILYALCOHOLINTAKE                      object
 13   KGINCREASEDPREGNANCY                    int64
 14   ART                                     object
 15   ARTMODE                                 object
 16   AMNIOCENTESIS                           object
 17   PREVIOUSCESAREAN                        object
 18   NUMBEROFPREVCESAREAN                    float64
 19   COMORBIDITY                             object
 20   OBSTETRICRISK                           object
 21   PREVIOUSTERMPREGNANCIES                 int64
 22   PREVIOUSPRETERMPREGNANCIES              int64
 23   MISCARRIAGES                            int64
 24   ALIVENEWBORNS                           int64
 25   PARITY                                  int64
 26   PREINDUCTION                            object
 27   INDUCTION                               object
 28   HOURSROMBEFOREINDUCTION                 object
 29   ANESTHESIA                              object
 30   HOURSOFRUPTUREDMEMBRANESATDELIVERY      object
 31   GESTAGIONALAGE                          int64
 32   CARDIOTOCOGRAPHY                        object
 33   TYPEOFBIRTH                             object
 34   EPISIOTOMY                              object
 35   TEAR                                    object
 36   MEDICALINDICATION                       object
 37   EMERGENCYCESAREANSECTION                object
 38   PROGRAMMEDCESAREANSECTION               object
 39   OXYTOCIN                                object
 40   AMNIOTICLIQUID                          object
 41   FetalINTRAPARTUMpH                      object
 42   COMPLICATIONS                           object
 43   ROBSONGROUP                             object
 44   CESAREANINACCORDANCETOCLINICALSTANDARD  object
 45   COLESTASISGRAVIDICA                     object
 46   CORIONAMNIONITIS                        object
 47   NONIDGESTATIONALDIABETES                object
 48   IDGESTATIONALDIABETES                   object
 49   PROLONGEDPREGNANACY                     object
 50   MULTIPLEGESTATION                       object
 51   HELLP                                   object
 52   GESTATIONALHYPERTENSION                 object
 53   ISOINMUNIZACION                         object
 54   STAINEDAMNIOTICLIQUOR                   object
 55   FETALMALFORMATION                       object
 56   UTERINEMALFORMATION                     object
 57   FETALMALPOSITION                        object
 58   MIOMECTOMY                              object
 59   OLIGOAMNIOS                             object
 60   PREVIOUSPRETERMDELIVERY                 object
 61   PLACENTAPREVIA                          object
 62   POLIHIDRAMNIOS                          object
 63   SEVEREPREECLAMPSIA                      object
 64   MILDPREECLAMPSIA                        object
 65   PROM                                    object
 66   SIFILIS                                 object
 67   TOXOPLASMOSIS                           object
 68   REPEATEDMISCARRIAGES                    object
 69   PREVIOUSFETALLOSSES                     object
 70   ANTEPARTUMLOSSOFFETALWELLBEEING         object
 71   MATERNALANEMIA                          object
 72   ASTHMA                                  object
 73   CARDIACDISEASE                          object
 74   Coagulopathy                            object
 75   PREGESTATIONALTYPEIDIABETES             object
 76   PREGESTATIONALTYPEIIDIABETES            object
 77   AUTOINMUNEDISEASEINTREATMENT            object
 78   EPILEPSYINTREATMENT                     object
 79   MENTALDISEASEINTREATMENT                object
 80   NEUROLOGICALDISEASEINTREATMENT          object
 81   RENALDISEASEINTREATMENT                 object
 82   Hemiplegia                              object
 83   LIVERDISEASEINTREATMENT                 object
 84   HIPERTHYROIDISMINTREATMENT              object
 85   HIPOTHYROIDISMINTREATMENT               object
 86   HIV+                                    object
 87   CHRONICHYPERTENSION                     object
 88   TIP                                     object
 89   MALIGNANTTUMOR                          object
 90   HVC+                                    object
 91   HVB+                                    object
 92   CORIONICBIOPSY                          object
 93   Cordocentesis                           float64
 94   Cannabis                                object
 95   COCCAINE                                object
 96   Heroin                                  object
 97   others                                  object
 98   IUGR                                    object
 99   Colestasis                              object
 100  Diabetes                                object
 101  ABNORMALDOPPLER                         object
 102  ExitusFetal                             object
 103  STAINEDAMNIOTICLIQUID                   object
 104  NONCONFIDENTNST                         object
 105  Oligoamnios                             object
 106  MATERNALDISEASE                         object
 107  SGD                                     object
 108  Preeclampsia                            object
 109  PROM.1                                  object
 110  INITIALPROLONGEDPREGNANCY               object
 111  OTHERS                                  object
 112  LOC                                     object
 113  REG                                     object
 114  GEN                                     object
 115  UTERINEATONY                            object
 116  AMNIOTICLIQUIDEMBOLISM                  float64
 117  PERINEALHEMATOMA                        object
 118  UTERINEHAEMORRAGE                       object
 119  INVERTEDUTERUS                          object
 120  MATERNALDEATH                           object
 121  RETAINEDPLACENTA                        object
 122  UTERINERUPTURE                          object
 123  PULMONARTHROMBOEMBOLISM                 object
 124  DEEPVENOUSTHROMBOSIS                    object
 125  SHOULDERDYSTOCIA                        object
 126  TEARREPAIR                              object
 127  MANUALEXTRACTIONOFPLACENTA              object
 128  HISTERECTOMY                            object
 129  POSTPARTUMCURETAGE                      object
 130  REPOSITIONOFINVERTEDUTERUS              object
 131  BLOODTRANSFUSION                        object
 132  MEDICALTREATMENT                        object
 133  MANUALASSITANCETOSHOULDERDYSTOCIA       object
 134  ARTHERIALEMBOLIZATION                   object
 135  HEMATOMALDRAINAGE                       object
 136  INTRAPARTUMpHvalue                      object
 137  sexfetus1                               object
 138  weightfetus1                            object
 139  apgarfetus1                             object
 140  apgarfetus1fivemin                      object
 141  pHvaluefetus1umbilicalarthery           object
 142  FETUS1ADMISSIONICU                      object
 143  FETUS1RECOVERY                          object
 144  FETUS1MECONIUMASPIRATIONSYNDROME        object
dtypes: float64(7), int64(8), object(130)
memory usage: 6.8+ MB

### Checking missing values

In [ ]:
c_df.isnull().sum()

AGE                                    0
COUPLESITUATION                        0
HEIGHT                                 0
WEIGHT                                 0
BMI                                    0
                                    ...
apgarfetus1fivemin                  4219
pHvaluefetus1umbilicalarthery          0
FETUS1ADMISSIONICU                  4238
FETUS1RECOVERY                      4235
FETUS1MECONIUMASPIRATIONSYNDROME    4234
Length: 145, dtype: int64

### Class labels

In [ ]:
c_df.TYPEOFBIRTH.unique()

array(['emergencyc-section', 'CESprogrammed', 'EUT', 'vacum', 'FORC',
       'ESP', 'NALGASVAGINAL'], dtype=object)

In [ ]:
a = c_df['TYPEOFBIRTH'].values.tolist()
s = set(a)
for x in s:
  print(x,":",a.count(x))

vacum : 770
FORC : 87
emergencyc-section : 692
CESprogrammed : 325
EUT : 4231
NALGASVAGINAL : 8
ESP : 44

### Preprocessing

### Dataset after feature extraction

In [ ]:
m_df = c_df[['PARITY','OBSTETRICRISK','COMORBIDITY','NUMBEROFPREVCESAREAN','KGINCREASEDPREGNANCY','STARTANTENATALCARRE',
        'ART','PREVIOUSTERMPREGNANCIES','AMNIOTICLIQUID','MISCARRIAGES','ANESTHESIA','TYPEOFBIRTH']]

### Checking duplicates

In [ ]:
m_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6152    False
6153     True
6154    False
6155    False
6156     True
Length: 6157, dtype: bool

In [ ]:
m_df.duplicated().sum()

2259

### Drop duplicate records

In [ ]:
m_df = m_df.drop_duplicates()
m_df

,PARITY,OBSTETRICRISK,COMORBIDITY,NUMBEROFPREVCESAREAN,KGINCREASEDPREGNANCY,STARTANTENATALCARRE,ART,PREVIOUSTERMPREGNANCIES,AMNIOTICLIQUID,MISCARRIAGES,ANESTHESIA,TYPEOFBIRTH
0,0,t,f,NaN,14,1ºtrimester,f,0,stained+,0,t,emergencyc-section
1,10,f,f,NaN,5,1ºtrimester,f,0,clear,1,t,CESprogrammed
2,10,f,f,NaN,12,1ºtrimester,f,0,clear,1,t,EUT
3,1001,t,f,1.0,12,1ºtrimester,f,1,stained+,0,t,EUT
4,10,f,f,NaN,11,1ºtrimester,t,0,clear,1,t,EUT
...,...,...,...,...,...,...,...,...,...,...,...,...
6149,0,t,f,0.0,0,1ºtrimester,f,0,Hemorrágico,0,t,FORC
6151,0,f,f,0.0,0,2ºtrimester,f,0,stained+,0,t,emergencyc-section
6152,0,t,t,0.0,13,1ºtrimester,f,0,clear,0,t,EUT
6154,20,f,f,0.0,0,1ºtrimester,t,0,clear,2,t,EUT
6155,1020,t,f,0.0,3,1ºtrimester,t,1,clear,2,t,emergencyc-section

In [ ]:
import numpy as np
m_df = m_df.replace(r'^\s*$', np.nan, regex=True)

### Handling missing values of categorical attributes by mode

In [ ]:
s = (m_df.dtypes == 'object')
#print(s)
#print(s[s])
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)
print(len(object_cols))

Categorical variables:
['OBSTETRICRISK', 'COMORBIDITY', 'STARTANTENATALCARRE', 'ART', 'AMNIOTICLIQUID', 'ANESTHESIA', 'TYPEOFBIRTH']
7

In [ ]:
for i in object_cols:
  x = m_df[i].mode()[0]
  m_df[i].fillna(x,inplace = True)
m_df

,PARITY,OBSTETRICRISK,COMORBIDITY,NUMBEROFPREVCESAREAN,KGINCREASEDPREGNANCY,STARTANTENATALCARRE,ART,PREVIOUSTERMPREGNANCIES,AMNIOTICLIQUID,MISCARRIAGES,ANESTHESIA,TYPEOFBIRTH
0,0,t,f,NaN,14,1ºtrimester,f,0,stained+,0,t,emergencyc-section
1,10,f,f,NaN,5,1ºtrimester,f,0,clear,1,t,CESprogrammed
2,10,f,f,NaN,12,1ºtrimester,f,0,clear,1,t,EUT
3,1001,t,f,1.0,12,1ºtrimester,f,1,stained+,0,t,EUT
4,10,f,f,NaN,11,1ºtrimester,t,0,clear,1,t,EUT
...,...,...,...,...,...,...,...,...,...,...,...,...
6149,0,t,f,0.0,0,1ºtrimester,f,0,Hemorrágico,0,t,FORC
6151,0,f,f,0.0,0,2ºtrimester,f,0,stained+,0,t,emergencyc-section
6152,0,t,t,0.0,13,1ºtrimester,f,0,clear,0,t,EUT
6154,20,f,f,0.0,0,1ºtrimester,t,0,clear,2,t,EUT
6155,1020,t,f,0.0,3,1ºtrimester,t,1,clear,2,t,emergencyc-section

### Handling missing values of Numerical attributes using mean

In [ ]:
s = (m_df.dtypes != 'object')
number_cols = list(s[s].index)
print("Numerical variables:")
print(number_cols)
print(len(number_cols))

Numerical variables:
['PARITY', 'NUMBEROFPREVCESAREAN', 'KGINCREASEDPREGNANCY', 'PREVIOUSTERMPREGNANCIES', 'MISCARRIAGES']
5

In [ ]:
for i in number_cols:
  x = m_df[i].mean()
  m_df[i].fillna(x,inplace = True)
m_df

,PARITY,OBSTETRICRISK,COMORBIDITY,NUMBEROFPREVCESAREAN,KGINCREASEDPREGNANCY,STARTANTENATALCARRE,ART,PREVIOUSTERMPREGNANCIES,AMNIOTICLIQUID,MISCARRIAGES,ANESTHESIA,TYPEOFBIRTH
0,0,t,f,0.598906,14,1ºtrimester,f,0,stained+,0,t,emergencyc-section
1,10,f,f,0.598906,5,1ºtrimester,f,0,clear,1,t,CESprogrammed
2,10,f,f,0.598906,12,1ºtrimester,f,0,clear,1,t,EUT
3,1001,t,f,1.000000,12,1ºtrimester,f,1,stained+,0,t,EUT
4,10,f,f,0.598906,11,1ºtrimester,t,0,clear,1,t,EUT
...,...,...,...,...,...,...,...,...,...,...,...,...
6149,0,t,f,0.000000,0,1ºtrimester,f,0,Hemorrágico,0,t,FORC
6151,0,f,f,0.000000,0,2ºtrimester,f,0,stained+,0,t,emergencyc-section
6152,0,t,t,0.000000,13,1ºtrimester,f,0,clear,0,t,EUT
6154,20,f,f,0.000000,0,1ºtrimester,t,0,clear,2,t,EUT
6155,1020,t,f,0.000000,3,1ºtrimester,t,1,clear,2,t,emergencyc-section

In [ ]:
m_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3898 entries, 0 to 6155
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PARITY                   3898 non-null   int64
 1   OBSTETRICRISK            3898 non-null   object
 2   COMORBIDITY              3898 non-null   object
 3   NUMBEROFPREVCESAREAN     3898 non-null   float64
 4   KGINCREASEDPREGNANCY     3898 non-null   int64
 5   STARTANTENATALCARRE      3898 non-null   object
 6   ART                      3898 non-null   object
 7   PREVIOUSTERMPREGNANCIES  3898 non-null   int64
 8   AMNIOTICLIQUID           3898 non-null   object
 9   MISCARRIAGES             3898 non-null   int64
 10  ANESTHESIA               3898 non-null   object
 11  TYPEOFBIRTH              3898 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 395.9+ KB

### Checking NULL values

In [ ]:
m_df.isnull().sum()

PARITY                     0
OBSTETRICRISK              0
COMORBIDITY                0
NUMBEROFPREVCESAREAN       0
KGINCREASEDPREGNANCY       0
STARTANTENATALCARRE        0
ART                        0
PREVIOUSTERMPREGNANCIES    0
AMNIOTICLIQUID             0
MISCARRIAGES               0
ANESTHESIA                 0
TYPEOFBIRTH                0
dtype: int64

In [ ]:
m_df.TYPEOFBIRTH.unique()

array(['emergencyc-section', 'CESprogrammed', 'EUT', 'vacum', 'FORC',
       'ESP', 'NALGASVAGINAL'], dtype=object)

In [ ]:
a = m_df['TYPEOFBIRTH'].values.tolist()
s = set(a)
for x in s:
  print(x,":",a.count(x))

vacum : 546
FORC : 83
emergencyc-section : 568
CESprogrammed : 274
EUT : 2376
NALGASVAGINAL : 8
ESP : 43

In [ ]:
m_df

,PARITY,OBSTETRICRISK,COMORBIDITY,NUMBEROFPREVCESAREAN,KGINCREASEDPREGNANCY,STARTANTENATALCARRE,ART,PREVIOUSTERMPREGNANCIES,AMNIOTICLIQUID,MISCARRIAGES,ANESTHESIA,TYPEOFBIRTH
0,0,t,f,0.598906,14,1ºtrimester,f,0,stained+,0,t,emergencyc-section
1,10,f,f,0.598906,5,1ºtrimester,f,0,clear,1,t,CESprogrammed
2,10,f,f,0.598906,12,1ºtrimester,f,0,clear,1,t,EUT
3,1001,t,f,1.000000,12,1ºtrimester,f,1,stained+,0,t,EUT
4,10,f,f,0.598906,11,1ºtrimester,t,0,clear,1,t,EUT
...,...,...,...,...,...,...,...,...,...,...,...,...
6149,0,t,f,0.000000,0,1ºtrimester,f,0,Hemorrágico,0,t,FORC
6151,0,f,f,0.000000,0,2ºtrimester,f,0,stained+,0,t,emergencyc-section
6152,0,t,t,0.000000,13,1ºtrimester,f,0,clear,0,t,EUT
6154,20,f,f,0.000000,0,1ºtrimester,t,0,clear,2,t,EUT
6155,1020,t,f,0.000000,3,1ºtrimester,t,1,clear,2,t,emergencyc-section

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

#m_df.Publisher = m_df.Publisher.astype(str)

for column in m_df.columns:
    temp_new = le.fit_transform(m_df[column].astype('category'))
    m_df.drop(labels=[column], axis="columns", inplace=True)
    m_df[column] = temp_new

X = m_df.loc[:,'PARITY':'ANESTHESIA']
Y = m_df.loc[:,'TYPEOFBIRTH':]

In [ ]:
from imblearn.over_sampling import ADASYN 
sm = ADASYN(sampling_strategy='auto', random_state=None, n_neighbors=5, n_jobs=1)
X_adassin_1, Y_adassin_1 = sm.fit_resample(X, Y)
print(X_adassin_1.shape)
print(Y_adassin_1.shape)

(16412, 11)
(16412, 1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_adassin_1,Y_adassin_1,test_size=0.2,random_state=None)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13129 entries, 739 to 3336
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PARITY                   13129 non-null  int64
 1   OBSTETRICRISK            13129 non-null  int64
 2   COMORBIDITY              13129 non-null  int64
 3   NUMBEROFPREVCESAREAN     13129 non-null  int64
 4   KGINCREASEDPREGNANCY     13129 non-null  int64
 5   STARTANTENATALCARRE      13129 non-null  int64
 6   ART                      13129 non-null  int64
 7   PREVIOUSTERMPREGNANCIES  13129 non-null  int64
 8   AMNIOTICLIQUID           13129 non-null  int64
 9   MISCARRIAGES             13129 non-null  int64
 10  ANESTHESIA               13129 non-null  int64
dtypes: int64(11)
memory usage: 1.2 MB

In [ ]:
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13129 entries, 739 to 3336
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TYPEOFBIRTH  13129 non-null  int64
dtypes: int64(1)
memory usage: 205.1 KB

In [ ]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3283 entries, 11222 to 15306
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PARITY                   3283 non-null   int64
 1   OBSTETRICRISK            3283 non-null   int64
 2   COMORBIDITY              3283 non-null   int64
 3   NUMBEROFPREVCESAREAN     3283 non-null   int64
 4   KGINCREASEDPREGNANCY     3283 non-null   int64
 5   STARTANTENATALCARRE      3283 non-null   int64
 6   ART                      3283 non-null   int64
 7   PREVIOUSTERMPREGNANCIES  3283 non-null   int64
 8   AMNIOTICLIQUID           3283 non-null   int64
 9   MISCARRIAGES             3283 non-null   int64
 10  ANESTHESIA               3283 non-null   int64
dtypes: int64(11)
memory usage: 307.8 KB

In [ ]:
Y_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3283 entries, 11222 to 15306
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TYPEOFBIRTH  3283 non-null   int64
dtypes: int64(1)
memory usage: 51.3 KB

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)
print(accuracy_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred,pos_label='positive',average='weighted'))
print(recall_score(Y_test,y_pred,pos_label='positive',average='micro'))
print(f1_score(Y_test, y_pred,average='micro'))

0.6847395674687785
0.676384194280688
0.6847395674687785
0.6847395674687785

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

In [ ]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier()
RFC.fit(X_train, Y_train.values.ravel())
y_pred = RFC.predict(X_test)
print(accuracy_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred,pos_label='positive',average='weighted'))
print(recall_score(Y_test,y_pred,pos_label='positive',average='micro'))
print(f1_score(Y_test, y_pred,average='micro'))

0.7036247334754797
0.6985921504527988
0.7036247334754797
0.7036247334754797

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
svc = SVC(gamma = 0.001, C = 1000)
y_pred = svc.fit(X_train, Y_train.values.ravel()).predict(X_test)
print(accuracy_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred,pos_label='positive',average='weighted'))
print(recall_score(Y_test,y_pred,pos_label='positive',average='micro'))
print(f1_score(Y_test, y_pred,average='micro'))

0.5300030459945172
0.5355020399643708
0.5300030459945172
0.5300030459945172

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
K = []
training = []
test = []
scores = {}
  
for k in range(2, 21):
    clf = KNeighborsClassifier(n_neighbors = k)
    clf.fit(X_train, Y_train.values.ravel())
  
    training_score = clf.score(X_train, Y_train)
    test_score = clf.score(X_test, Y_test)
    K.append(k)
  
    training.append(training_score)
    test.append(test_score)
    scores[k] = [training_score, test_score]
for keys, values in scores.items():
    print(keys, ':', values)

2 : [0.72427450681697, 0.6088943039902528]
3 : [0.7312057277782009, 0.6329576606762107]
4 : [0.7312818950415112, 0.6384404508071886]
5 : [0.7187904638586335, 0.6372220530003045]
6 : [0.710640566684439, 0.6302162656107219]
7 : [0.7020336659303831, 0.6286932683521169]
8 : [0.6941122705461192, 0.6293024672555589]
9 : [0.6872572168481986, 0.627170271093512]
10 : [0.6805544976768985, 0.6265610721900701]
11 : [0.6746896184020108, 0.6210782820590923]
12 : [0.6686724046005027, 0.6180322875418824]
13 : [0.6644070378551299, 0.6073713067316479]
14 : [0.6580089877370706, 0.6095035028936948]
15 : [0.6532866174118364, 0.6064575083764849]
16 : [0.6474217381369487, 0.6018885166006701]
17 : [0.6424708660217838, 0.6009747182455072]
18 : [0.6371391575900678, 0.5954919281145294]
19 : [0.6331784598979359, 0.5921413341455986]
20 : [0.6259425698834641, 0.5909229363387146]

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=2,weights='distance',p=1)
model.fit(X_train,Y_train.values.ravel())
y_pred = model.predict(X_test)
print(accuracy_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred,pos_label='positive',average='weighted'))
print(recall_score(Y_test,y_pred,pos_label='positive',average='micro'))
print(f1_score(Y_test, y_pred,average='micro'))

0.628084069448675
0.6311641434820678
0.628084069448675
0.628084069448675

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import StackingClassifier
estimators = [('rf', RandomForestClassifier()),('svr', make_pipeline(StandardScaler(),LinearSVC())),('dt',DecisionTreeClassifier(criterion = 'entropy')),('knn',KNeighborsClassifier(n_neighbors=2,weights='distance',p=1))]
clf = StackingClassifier(estimators=estimators, final_estimator=LogisticRegression())
clf.fit(X_train, Y_train.values.ravel())
y_pred = clf.predict(X_test)
print(accuracy_score(Y_test,y_pred))
print(precision_score(Y_test,y_pred,pos_label='positive',average='weighted'))
print(recall_score(Y_test,y_pred,pos_label='positive',average='micro'))
print(f1_score(Y_test, y_pred,average='micro'))

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

0.7042339323789217
0.6986661587852778
0.7042339323789217
0.7042339323789217

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'weighted'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1375: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  UserWarning,